

.navbar .container-flex .logo {
    padding-left: 9%;
    padding-top: 7%;
}


p {
    color: white;
    padding-left: 8%;
    padding-right: 6%;
    font-size: 1.10em;
    padding-top: 5%;
    /* margin-bottom: 61px; */
}

#myHeader {
    padding-left: 9%;
    padding-top: 5%;
    font-size: 3em;
}

.image-gallery {
    width: 95%;
    padding-left:5%;
}