/* * {
    padding: 10px;
} */
.container .image-gallery img{
    width: 100%;
}

h1 {
    padding-left: 8%;
    padding-top: 6%;
    padding-bottom: 5%;
}

p {
    padding-left: 8%;
    padding-right: 6%;
    font-size: 1.10em;
    margin-bottom: 61px;
}