

.container .image-gallery {
    padding-top: 100px;
    padding-bottom: 200px;
}

.container .image-gallery img{
    width: 390px;
}
/* .foo img:nth-child(2)  */ */
.paragraphwriting p{
    color: blue;
    padding-left: 200px;
} 