
.container .image-gallery {
    padding-top: 10%;
    padding-bottom: 200px;
    padding-left: 10%;
}

.container .image-gallery img{
    width: 80%;
}

.container .image-gallery p{
    padding-top: 10%;
    padding-bottom: 10%;
}


.artwork-text p{
    color: white;
    font-size: 1em;
    text-align: left;
    padding-left: 8%;
}


.artwork-text h1{
    font-size: 3em;
    padding-left: 8%;
    padding-top: 40%;
    color: white;
}

.artwork-text h2{
    padding-top: 35%;
    padding-left: 47%;
}
